header { 
    position: relative;
    display: inline-block
}
h1 {
    color: black;
}
#loggedOutView {
    display: block;
    padding: 10px;
}
#logInBtn {
    padding: 10px;
    cursor: pointer;
}
#createAccBtn {
    padding: 10px;
    cursor: pointer;
}
