header { 
    position: relative;
    display: inline-block
}
h1 {
    color: black;
}
#loggedOutView {
    display: block;
    padding: 10px;

}

.open-button {
    padding: 10px;
    cursor: pointer;
}
.form-popup {
  display: none;
  position: fixed;
 top: 30%;
  right: 50%;
  border: 3px solid gray;
  z-index: 9;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.form-container {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
button {
    padding: 10px;
    margin: 2px;
    cursor: pointer;
}
footer .disclaimer {
    position: fixed;
    bottom: 0px;
    font-size: 1.2rem;
    padding: 20PX;
    background-color: lightskyblue;
    color: black;
}
#message {
    font-size: 1.2rem;
    margin: 10px;
}
#loggedInView {
    display: none;
    font-size: 1.2rem;
    margin: 10px;
    color: blueviolet;
}